@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(211, 208, 208);
}

header {
    margin: 10px;
    padding: 10px;
}

header img {
    display: block;
    width: 200px;
    margin: 10px auto;
}

header h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: "Gowun Dodum";
}

header h1 a {
    text-decoration: none;
    color: rgb(55, 109, 188);
}

header h1 a:hover {
    color: rgb(41, 33, 45);
}

header h5 {
    font-family: "Gowun Batang";
    color: rgb(84, 179, 234);
    text-align: center;
}

#content {
    width: 1000px;
    height: 800px;
    margin: 20px auto;
    padding: 10px;
}

#left_content {
    width: 35%;
    height: 790px;
    background-color: rgb(50, 47, 47);
    float: left;
    color: white;
    border-radius: 10px 0 0 10px;
}

#r0 p {
    font-size: 85%;
    text-align: justify;
}

#right_content {
    width: 65%;
    height: 790px;
    background-color: white;
    float: left;
    color: rgb(63, 60, 60);
    border-radius: 0 10px 10px 0;
}

.r {
    margin: 10px;
    padding: 10px;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    font-family: "IBM Plex Sans KR";
}

.r h2 {
    border-left: 10px solid rgb(30, 127, 134);
    padding-left: 10px;
    margin: 10px 0 15px 0;
}

#r1 p, #r3 p {
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 10px;
}

#r2 ul li {
    list-style-type: none;
}

#r3 p {
    background-image: url(../images/img2.png);
    background-size: 40px;
}

#r4 p {
    margin-bottom: 15px;
}

#r5 p {
    margin-bottom: 15px;
}

#pagetop {
    position: fixed;

    right: 30px;
    bottom: 30px;

}